/* Estilos para o container principal do menu */
.menu-container {
  background-color: #f8f9fa; /* Cinza Claro */
  color: #343a40; /* Cinza Escuro */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #dee2e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Sutil sombra para destaque */
}

/* Estilos para a seção de informações do usuário logado */
.menu-userlogado {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  object-fit: cover; /* Garante que a imagem preencha o espaço */
}

.user-name {
  margin-left: 10px;
  font-weight: 500; /* Um pouco mais de destaque para o nome */
}

/* Estilos para o título/nome da rede social */
.menu-title {
  font-size: 1.2em;
  font-weight: bold;
  color: hwb(211 0% 0%); /* Azul Elétrico */
  letter-spacing: 1.5px; /* Espaçamento entre as letras para um visual moderno */
  text-transform: uppercase; /* Deixa em maiúsculas */
}

/* Estilos para o container do botão hambúrguer e dropdown */
.menu-hamburguer {
  position: relative;
}

/* Estilos para o botão hambúrguer */
.menu-button {
  background: transparent;
  border: none;
  font-size: 1.8em; /* Um pouco maior para ser mais visível */
  color: #20c997; /* Verde Água */
  cursor: pointer;
  padding: 5px; /* Adiciona um pouco de padding para facilitar o clique */
  transition: color 0.2s ease-in-out; /* Transição suave na cor */
}

.menu-button:hover {
  color: #1a9e7a; /* Um tom mais escuro de verde ao passar o mouse */
}

/* Estilos para o menu dropdown */
.menu-dropdown {
  position: absolute;
  top: 100%; /* Posiciona logo abaixo do botão */
  right: 0;
  background-color: #fff;
  border-radius: 8px; /* Cantos mais arredondados */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15); /* Sombra mais pronunciada */
  z-index: 10;
  min-width: 180px; /* Largura mínima para os itens */
  overflow: hidden; /* Garante que os cantos arredondados sejam respeitados */
}

/* Estilos para os itens do menu dropdown */
.menu-item {
  display: block;
  width: 100%;
  padding: 12px 15px; /* Mais padding para maior área de clique */
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  color: #343a40;
  font-size: 1em;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.menu-item:hover {
  background-color: #e9ecef; /* Um cinza bem claro ao passar o mouse */
  color: #007bff; /* Azul Elétrico no hover para um toque vibrante */
}

.menu-item:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Estilos básicos de responsividade para telas menores */
@media (max-width: 768px) {
  .menu-container {
    padding: 10px 15px;
  }

  .menu-title {
    font-size: 1em;
  }

  .user-name {
    display: none; /* Esconde o nome do usuário em telas menores */
  }
}